<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.elay.user.authority.mapper.FileMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.elay.user.authority.entity.File">
        <id column="file_id" property="fileId" />
        <result column="filename" property="filename" />
        <result column="filepath" property="filepath" />
        <result column="filetype" property="filetype" />
        <result column="filesize" property="filesize" />
        <result column="upload_by" property="uploadBy" />
        <result column="upload_time" property="uploadTime" />
        <result column="old_filename" property="oldFilename" />
    </resultMap>

</mapper>
